@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
}
.first-section{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    height:652px;
    
}
.group-image{
    text-align: center;
    margin-bottom: 32px
}
.banner-content{
    padding: 26px 221px;
}
.para1{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    line-height: 68px;
    margin-bottom: 24px;
}
.para2{
    text-align: center;
    opacity: 0.7;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 32px;
}
.btn{
    text-align: center;
}
.btn button{
    padding: 21px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
.second-section{
    height: 1193px;
    width: 1140px;
    border-radius: 16px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px 100px 0px;
}
.para3{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.ssd1,.ssd2{
    padding: 48px;
    background-color: white;
    border-radius: 16px;
}
.para4{
    margin-bottom: 16px;
}
.para5{
    margin-bottom: 32px;
    opacity: 0.7;
}
.ssd1 button,.ssd2 button{
    padding: 12px 20px;
    font-size: 20px;
    background-color: white;
    font-weight: 600;
    opacity: 0.7;
}
.ssd1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.ssd1d1{
    width: 477px;
}
.ssd1d2{
    height: 240px;
    width: 240px;
}
.ssd2{
    display: flex;
    margin-bottom: 32px;
    gap: 32px;
}
.third-section{
    margin: 90px 100px 0px;
}
.para6{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 24px;
}
.inspirationdiv{
    width: 852px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
}
.iframe-section{
    padding: 32px;
}
iframe{
    border-radius: 16px;
    width: 100%;
    height: 550px;
}
.card{
    height: 299px;
    width: 364px;
    border-radius: 16px;
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
}
.card img{
    margin-bottom: 24px;
}
.card .name{
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 8px;
}
.des{
    opacity: 0.7;
    margin-bottom: 24px;
}
.card a{
    color: black;
}
.css{
    background-color: rgba(0, 76, 232, 0.05);
}
.js{
    background-color: rgba(255, 223, 0, 0.05);
}
.cards{
    display: flex;
    gap: 24px;
    margin-bottom: 111px;
}
.cards2{
    width:auto;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
}
.cards2{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.name2{
    font-weight: 900;
    font-size: 24px;
    color: black;
    margin-bottom: 8px;
}
.des2{
    opacity: 0.7;
    margin-bottom: 24px;
}
.a{
    color: black;
}
.fifth-section{
    height: 313px;
    width: 1140;
    border-radius:16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("../assets/handshake.jpg");
    background-size: cover;
    margin-top: 49px;
    padding: 64px 48px;
}
.input-h{
    text-align: center;
    color: white;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
}
.input-para{
    text-align: center;
    color: white;
    opacity: 0.7;
    line-height: 26px;
    margin-bottom: 24px;
}
input[type="text"]{
    padding: 19px 20px;
    border-radius: 8px;
    width: 548px;
    margin-right: 16px;
    background-color: white;
}
.last-button{
    padding: 17px 20px;
    border-radius: 8px;
    background-color: white;
    width: 120px;
    height: 62px;
    font-weight: 600;
    font-size: 20px;
}
.inputs-div{
    display: flex;
    justify-content: center;
}
.inputs{
    margin-top: 80px;
}
footer{
    background-color: rgba(13, 19, 33, 0.03);
    padding: 32px 100px;
    margin-top: 80px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img{
    margin-left: 24px;
}
